// 引入 函数
@use "sass:color";

// 引入 全局 变量
@use "./global/index.scss" as *;

// 引入 header 样式
@use "./header/index.scss" as *;
// 引入菜单样式
@use "./context-menu/index.scss" as *;
// 引入 banner 样式
@use "./banner/index.scss" as *;
// 引入 内容 区域 样式
@use "./content/index.scss" as *;
// 引入 内容 区域 的 侧边栏 样式
@use "./content/aside.scss" as *;
// 内容 区域 共有的 样式
@use "./content/global/index.scss" as *;
// 引入 登录 页面 的 样式
@use "./login/index.scss" as *;
// 引入 个性化 面板的样式
@use "./theme-setting/index.scss" as *;
// 引入 doc 样式
@use "./doc/preview.scss" as *;

$light: (
  // svg作为按钮的背景 需要把 十六进制的 # 符号换成 %23
  scroll-button-bg: "%23a1c7ea",
  scroll-button-bg-hover: "%236da3d5"
);

// 白天模式
html[themes="#{$theme}"] {
  --primary-color: #{$primary-color};
  // 链接 悬浮样式
  --primary-links-hover: rgb(197, 132, 57);
  // 默认图片
  --default-img: url("@/assets/images/base-bg-light.png");
  // 默认头像
  --default-avatar: url("@/assets/images/avatar.jpg");
  // 内容区域背景颜色 没有背景固定时
  --body-bg: #f7fcff;
  // 鼠标样式
  --cursor-default: url("/assets/cursor/light/pointer.png") 0 0, default;
  --cursor-pointer: url("/assets/cursor/light/link.png") 0 0, pointer;
  --cursor-text: url("/assets/cursor/light/text.png") 18 5, text;
  --cursor-move: url("/assets/cursor/light/move.png") 18 5, move;
  // 按钮primary
  --primary-btn-bg: #8dbcdc;
  --primary-btn-color: #eef8ff;
  --primary-btn-hover-bg: #6ca4ca;
  --primary-btn-hover-color: #e9f6ff;
  // 切换按钮 primary
  $primary-switch-bg: #8dbcdc;
  --primary-switch-on: #{color.adjust($primary-switch-bg, $lightness: -20%)};
  --primary-switch-off: #{$primary-switch-bg};
  // 滚动条背景
  --scroll-bg: #f3f3ff;
  // 背景颜色分割 角度 一三的颜色 二四的颜色
  --scroll-thumb-deg: -45deg;
  --scroll-thumb-bg: rgb(141, 188, 220);
  --scroll-thumb-bg-secend: rgb(80, 145, 189);
  // svg作为按钮的背景 需要把 十六进制的 # 符号换成 %23
  --scroll-button-bg: "%23a1c7ea";
  --scroll-button-bg-hover: "%236da3d5";
}
