// 引入 全局 变量
@use "../global/index.scss" as *;

html[themes="#{$theme}"] {
  .menu-context {
    --context-menu-bg: #3d5b6e;
    --context-menu-bg-hover: #5c8096;
    --context-menu-color: #c6d6ed;
    --context-menu-color-hover: #ffffff;
    --context-menu-shadow: 0 0 3px rgb(42, 42, 42);
    --context-menu-title-hr: 1px solid #6887a8;
  }
}
