// 引入函数
@use "sass:color";

// 引入 全局 变量
@use "../global/index.scss" as *;
// 引入 callouts 变量
@use "./callouts.scss" as *;

html[themes="#{$theme}"] {
  // doc 页面
  --doc-header-color: #dcf1ff;
  --doc-header-link: #9ad5fd;
  // waves 动画
  $doc-header-waves-color: rgb(55, 83, 102);
  --doc-header-waves-color-1: #{rgba($doc-header-waves-color, 0.562)};
  --doc-header-waves-color-2: #{rgba($doc-header-waves-color, 0.253)};
  --doc-header-waves-color-3: #{rgba($doc-header-waves-color, 0.74)};
  .doc-pages-pr {
    // 主要的文字颜色
    --doc-content-color: $primary-color;
    // code 的颜色 `code`
    --doc-code-bg: rgb(199, 92, 92);
    --doc-code-color: white;
    // a 链接
    --doc-link-color: rgb(238, 70, 70);
    // 侧边栏的a链接高亮效果
    --doc-link-hightlight: #eea8a8;
    // 高亮
    --doc-highlight-bg: #4e71b7;
    --doc-highlight-color: #d8e5ff;
    // 设置 多选框
    --doc-checkbox-bg: #f5fbff;
    --doc-checkbox-border-color: #ef7474;
    --doc-checkbox-border: var(--doc-checkbox-border-size) solid
      var(--doc-checkbox-border-color);
    // 分割线
    --doc-hr-color: #{$primary-color};
    // 脚注分割线
    --doc-footnotes-hr-color: #{$primary-color};
    // 代码块 样式
    --doc-pre-code-shadow: 0 0 5px 2px #3f70939c;
    // 表格
    --doc-table-th-bg: #3b6683;
    --doc-table-th-color: #c7d4e4;
    --doc-table-td-bg: #476272;
    --doc-table-td-color: #dae9fb;
    --doc-table-td-shadow: 1px 1px 5px #3a6179;
    // 表格 设置 边框
    $table-head-border-size: 2px;
    $table-head-border-bottom-size: 4px;
    $table-border-color: #93a8c1;
    $table-head-border-bg: $table-border-color;
    $table-head-border-bottom-bg: $table-border-color;
    $table-head-border-style: solid;
    $table-body-border-size: 2px;
    $table-body-border-bg: $table-border-color;
    $table-body-border-style: solid;
    --doc-table-header-border: #{$table-head-border-style
      $table-head-border-size $table-head-border-bg};
    --doc-table-header-bottom-border: #{$table-head-border-style
      $table-head-border-bottom-size $table-head-border-bottom-bg};
    --doc-table-body-border: #{$table-body-border-style $table-body-border-size
      $table-body-border-bg};
    --doc-table-body-bottom-border: #{$table-body-border-style
      $table-body-border-size $table-body-border-bg};
  }
}
