// 引入 全局 变量
@use "../../global/index.scss" as *;

// 内容 区域 共同的 变量
$pages-card-bg: white;
html[themes="#{$theme}"] {
  .global-content {
    --pages-card-bg: #{$pages-card-bg};
    --pages-card-shadow: -5px 5px 10px var(--primary-shadow-color);
    --pages-card-shadow-fixed: 0px 5px 10px var(--primary-shadow-color-fixed);
  }
}
