:root {
  // 头部
  --header-height: 40px;
  --header-bg-initial-during: 0.3s;
  // 头部导航
  --header-topnav-margin: 20px;
  // 头部导航 底部线条
  --header-topnav-mask-height: 2px;
  // 左右边距
  --header-pd: 50px;
}
