@use "../mixins.scss" as *;
@use "../animations.scss" as *;
// 词海的 的样式混合
@mixin cloud-words {
  $gap: 15px;
  $m: 40px;
  $cloudWords-margin: 0 $m $m $m;
  .cloud-words-container {
    display: flex;
    flex-wrap: wrap;
    gap: $gap;
    align-items: center;
    justify-content: center;
    margin: $cloudWords-margin;
    .item {
      width: fit-content;
      // 云词 的容器
      .cloud-words {
        @include pages-links-hover;
        @include transition(var(--primary-during), color, scale);
        &:hover {
          scale: 1.2;
        }
      }
      // 标签文本
      span {
        font-size: 20px;
      }
    }
  }
}
