$global-header-index: 20;
$global-content-index: 2;
$doc-aside-menu-sticky-right-index: 4;
$menu-context-index: 50;
$my-dialog-index: 50;
$theme-panel-index: 50;
$my-drawer-mask-index: 10;
$scroll-ornaments-index: 999999;
html {
  --click-effect-index: 9999;
  --move-effect-index: 9999;
}
