$global-header-index: 20;
$global-content-index: 2;
// 比 header 高一点就行
$global-tools-index: 21;
$doc-aside-menu-sticky-right-index: 4;
$menu-context-index: 50;
$my-dialog-index: 50;
$theme-panel-index: 50;
$scroll-ornaments-index: 18;
// 比 header 高一点就行
$my-drawer-mask-index: 50;
$header-mini-drawer-mask-index: 21;
html {
  --click-effect-index: 70;
  --move-effect-index: 70;
}
