// 暗夜模式
body.dark {
  // 默认图片
  --default-img: url("@/assets/images/base-bg-dark.png");
  // 内容区域背景颜色 没有背景固定时
  --body-bg: #2a3943;
  // 鼠标样式
  --cursor-default: url("/assets/cursor/dark/pointer.png") 0 0, default;
  --cursor-pointer: url("/assets/cursor/dark/link.png") 0 0, pointer;
  --cursor-text: url("/assets/cursor/dark/text.png") 18 5, text;
  // 主要字体颜色 content 区域的字体
  --primary-color: #c7d4e4;
  --primary-bg: #375366;
  // header 和 mini-header-drawer
  --second-color: #c6d6ed;
  // 头部没有吸附的颜色
  --header-bg: transparent;
  --header-color: white;
  // 头部导航 底部线条
  --header-topnav-mask-color: #95adca;
  // 头部吸附后的颜色
  --header-sticky-bg: #4b5f6cf3;
  --header-sticky-color: var(--second-color);
  // 头部导航的菜单颜色
  --header-menu-bg: #3d5b6e;
  --header-menu-bg-hover: #5c8096;
  --header-menu-color: var(--second-color);
  --header-menu-color-hover: #ffffff;
  --header-menu-drop-shadow: 0 0 3px rgb(42, 42, 42);
  // 头部导航设置
  --header-setting-bg: #3d5b6e;
  --header-setting-label-color: var(var(--primary-color));
  --header-setting-switch-on: #5091bd;
  --header-setting-switch-off: #8dbcdc;
  // 头部小屏drawer导航的菜单颜色
  --header-mini-title-bg: transparent;
  --header-mini-title-bg-hover: #396396;
  --header-mini-title-color: var(--second-color);
  --header-mini-title-color-hover: #e9f6ff;
  --header-mini-subtitle-bg: transparent;
  --header-mini-subtitle-bg-hover: #618dc3;
  --header-mini-subtitle-color: var(--second-color);
  --header-mini-subtitle-color-hover: #e9f6ff;
  // 头部小屏drawer
  --header-drawer-bg: #375366;
  --header-drawer-mask: #0000005a;
  --header-drawer-title-color: var(--second-color);
  // banner
  --banner-detail-color: #cfd3dc;
  --banner-img: url("@/assets/images/base-bg-dark.png");
  // banner 遮罩
  --banner-mask: linear-gradient(
    to right,
    rgba(52, 52, 52, 0.852),
    rgba(52, 52, 52, 0.232)
  );
  // pages 相关
  --pages-links-hover: rgb(197, 132, 57);
  --pages-card-bg: var(--primary-bg);
  --pages-shadow: -5px 5px 10px rgba(28, 48, 67, 0.5);
  --pages-shadow-fixed: -5px 5px 10px rgba(28, 48, 67, 0.8);
  // 内容卡片
  --content-card-pin-bg: #36759f;
  --content-card-pin-color: #dbf1ff;
  // 内容图片遮罩
  --content-mask: linear-gradient(
    to right,
    rgba(52, 52, 52, 0.5),
    rgba(52, 52, 52, 0.5)
  );
  // 内容区域轮播图的颜色
  --content-carousel-arrow-color: #b7d0ee;
  --content-carousel-arrow-color-hover: #b7d0ee;
  --content-carousel-arrow-bg: #4782a9;
  --content-carousel-arrow-bg-hover: #5f9cc4;

  // --content-carousel-btns-color: #2a4f7c;
  // --content-carousel-btns-color-hover: #2a4f7c;
  --content-carousel-btns-bg: #8196a3;
  --content-carousel-btns-bg-hover: #a8c8dc;
  --content-carousel-btns-bg-active: #5892b8;
  --content-carousel-btns-bg-active-hover: #7ab3d8;
  // 按钮primary
  --primary-btn-bg: #5892b8;
  --primary-btn-color: #eef8ff;
  --primary-btn-hover-bg: #6fa6cb;
  --primary-btn-hover-color: #e9f6ff;
  // 侧边栏 用户信息链接颜色
  --aside-userinfo-wechat-color: #00c800;
  --aside-userinfo-qq-color: #329cff;
  --aside-userinfo-bilibili-color: #20b0e3;
  --aside-userinfo-mail-color: #000000;
  // 侧边栏公告
  --aside-web-announce-icon-bg: #dbeffb;
  // 侧边栏
  --aside-web-info-icon-bg: #dbeffb;
  --aside-recent-pg-icon-bg: #dbeffb;
  // login
  --login-card-bg: rgba(92, 92, 92, 0.685);
  --login-color: var(--primary-color);
  // login-input
  --login-input-placeholder: var(--primary-color);
  --login-input-color: var(--primary-color);
  --login-input-underline-bg: var(--primary-color);
  // login-btn
  --login-btn-bg: #4d9acc79;
  --login-disabled-bg: #92bfde79;
  --login-btn-color: #eef8ff;
  --login-btn-hover-bg: #3882b379;
  --login-btn-hover-color: #e9f6ff;
  // 底部提示信息的 切换链接颜色
  --login-link-color: #cb2d47;
  // 滚动条背景
  --scroll-bg: #f3f3ff;
}
