@use "sass:color";

$dark: (
  // svg作为按钮的背景 需要把 十六进制的 # 符号换成 %23
  scroll-button-bg: "%23a1c7ea",
  scroll-button-bg-hover: "%236da3d5"
);

// 暗夜模式
html[themes="dark"] {
  // 主要字体颜色 和 链接 悬浮样式
  $primary-color: #c7d4e4;
  --primary-color: #{$primary-color};
  --primary-links-hover: rgb(197, 132, 57);
  // 默认图片
  --default-img: url("@/assets/images/base-bg-dark.png");
  // 默认头像
  --default-avater: url("@/assets/images/avatar.jpg");
  // 内容区域背景颜色 没有背景固定时
  --body-bg: #2a3943;
  // 鼠标样式
  --cursor-default: url("/assets/cursor/dark/pointer.png") 0 0, default;
  --cursor-pointer: url("/assets/cursor/dark/link.png") 0 0, pointer;
  --cursor-text: url("/assets/cursor/dark/text.png") 18 5, text;
  --cursor-move: url("/assets/cursor/dark/move.png") 18 5, move;
  // 右键菜单 阴影
  --context-menu-shadow: 0 0 3px rgb(42, 42, 42);
  --context-menu-title-hr: 1px solid #6887a8;
  // 右键 菜单 的编辑（个性化）项目
  $theme-setting-title-bg: #375366;
  $theme-setting-aside-bg: #264050;
  $theme-setting-aside-hover-active-color: #e0eeff;
  --theme-setting-mask: #0000005a;
  --theme-setting-bg: #{color.adjust($theme-setting-title-bg, $lightness: 5%)};
  --theme-setting-title-bg: #{$theme-setting-title-bg};
  --theme-setting-title-color: $primary-color;
  --theme-setting-close-color: #{$primary-color};
  --theme-setting-close-color-hover: #{color.adjust(
      $primary-color,
      $lightness: 20%
    )};
  --theme-setting-side-bg: #{$theme-setting-aside-bg};
  --theme-setting-side-bg-active: #{color.adjust(
      $theme-setting-aside-bg,
      $lightness: 4%
    )};
  --theme-setting-side-bg-item: #{color.adjust(
      $theme-setting-aside-bg,
      $lightness: 8%
    )};
  --theme-setting-side-bg-item-hover: #{color.adjust(
      $theme-setting-aside-bg,
      $lightness: 10%
    )};
  --theme-setting-aside-color: $primary-color;
  --theme-setting-side-color-active: #{$theme-setting-aside-hover-active-color};
  --theme-setting-side-color-hover: #{$theme-setting-aside-hover-active-color};
  // 按钮primary
  --primary-btn-bg: #5892b8;
  --primary-btn-color: #eef8ff;
  --primary-btn-hover-bg: #6fa6cb;
  --primary-btn-hover-color: #e9f6ff;
  // 切换按钮 primary
  $primary-switch-bg: #548aad;
  --primary-switch-on: #{color.adjust($primary-switch-bg, $lightness: 10%)};
  --primary-switch-off: #{$primary-switch-bg};
  // 头部区域的颜色
  --header-color: #c6d6ed;
  --header-primary-bg: #3d5b6e;
  // 头部没有吸附的颜色
  --header-bg-initial: transparent;
  --header-color-initial: white;
  // 头部导航 底部线条
  --header-topnav-mask-color: #95adca;
  // 头部吸附后的颜色 是单独的 单独的颜色+透明度更舒服些
  --header-bg-sticky: #4b5f6cf3;
  --header-color-sticky: var(--header-color);
  // 头部导航的菜单颜色
  --header-menu-bg: var(--header-primary-bg);
  --header-menu-bg-hover: #5c8096;
  --header-menu-color: var(--header-color);
  --header-menu-color-hover: #ffffff;
  --header-menu-drop-shadow: 0 0 3px rgb(42, 42, 42);
  // 头部导航设置
  --header-setting-bg: var(--header-primary-bg);
  --header-setting-label-color: var(var(--primary-color));
  // 头部小屏drawer导航的菜单颜色
  $header-mini-bg-hover: #396396;
  $header-mini-color-hover: #e9f6ff;
  --header-mini-title-bg: transparent;
  --header-mini-title-bg-hover: #{$header-mini-bg-hover};
  --header-mini-title-color: var(--header-color);
  --header-mini-title-color-hover: #{$header-mini-color-hover};
  --header-mini-subtitle-bg: transparent;
  --header-mini-subtitle-bg-hover: #{color.adjust(
      $header-mini-bg-hover,
      $lightness: 8%
    )};
  --header-mini-subtitle-color: var(--header-color);
  --header-mini-subtitle-color-hover: #{$header-mini-color-hover};
  // 头部小屏drawer
  --header-drawer-bg: var(--header-primary-bg);
  --header-drawer-mask: #0000005a;
  --header-drawer-title-color: var(--header-color);
  // banner
  --banner-detail-color: #cfd3dc;
  --banner-img: url("@/assets/images/base-bg-dark.png");
  // banner 遮罩
  --banner-mask: linear-gradient(
    to right,
    rgba(52, 52, 52, 0.852),
    rgba(52, 52, 52, 0.232)
  );
  // pages 相关
  $pages-card-bg: #375366;
  --pages-card-bg: #{$pages-card-bg};
  --pages-shadow: 5px 5px 10px rgba(28, 48, 67, 0.5);
  --pages-shadow-fixed: -5px 5px 10px rgba(28, 48, 67, 0.8);
  // 内容卡片
  --content-card-pin-bg: #36759f;
  --content-card-pin-color: #dbf1ff;
  // 内容图片遮罩
  --content-mask: linear-gradient(
    to right,
    rgba(52, 52, 52, 0.5),
    rgba(52, 52, 52, 0.5)
  );
  // 内容区域轮播图的颜色
  $content-carousel-arrow-color: #d6e8ff;
  $content-carousel-arrow-bg: #93b9d4;
  $content-carousel-btns-color: #2a4f7c;
  $content-carousel-btns-bg: #98bcd3;
  $content-carousel-btns-bg-active: #5f93b6;
  --content-carousel-arrow-color: #{$content-carousel-arrow-color};
  --content-carousel-arrow-color-hover: #{color.adjust(
      $content-carousel-arrow-color,
      $lightness: 3%
    )};
  --content-carousel-arrow-bg: #{$content-carousel-arrow-bg};
  --content-carousel-arrow-bg-hover: #{color.adjust(
      $content-carousel-arrow-bg,
      $lightness: -10%
    )};
  --content-carousel-btns-color: #{$content-carousel-btns-color};
  --content-carousel-btns-color-hover: #{color.adjust(
      $content-carousel-btns-color,
      $lightness: -10%
    )};
  --content-carousel-btns-bg: #{$content-carousel-btns-bg};
  --content-carousel-btns-bg-hover: #{color.adjust(
      $content-carousel-btns-bg,
      $lightness: 10%
    )};
  // 激活状态
  --content-carousel-btns-bg-active: #{$content-carousel-btns-bg-active};
  --content-carousel-btns-bg-active-hover: #{color.adjust(
      $content-carousel-btns-bg-active,
      $lightness: 10%
    )};
  // 侧边栏
  --aside-title-icon-bg: #5091bd;
  // 侧边栏 用户信息链接颜色
  --aside-userinfo-wechat-color: #00c800;
  --aside-userinfo-qq-color: #329cff;
  --aside-userinfo-bilibili-color: #20b0e3;
  --aside-userinfo-mail-color: #000000;
  // 侧边栏 通知区域 欢迎信息
  --aside-announce-welcome-bg: #{color.adjust($pages-card-bg, $lightness: -2.5%)};
  --aside-announce-welcome-color: #{color.adjust(
      $primary-color,
      $lightness: -0.3%
    )};
  // login
  --login-card-bg: rgba(92, 92, 92, 0.685);
  --login-color: var(--primary-color);
  // login-input
  --login-input-placeholder: var(--primary-color);
  --login-input-color: var(--primary-color);
  --login-input-underline-bg: var(--primary-color);
  // login-btn
  --login-btn-bg: #4d9acc79;
  --login-disabled-bg: #92bfde79;
  --login-btn-color: #eef8ff;
  --login-btn-hover-bg: #3882b379;
  --login-btn-hover-color: #e9f6ff;
  // 底部提示信息的 切换链接颜色
  --login-link-color: #cb2d47;
  // 滚动条背景
  --scroll-bg: #f3f3ff;
  // 背景颜色分割 角度 一三的颜色 二四的颜色
  --scroll-thumb-deg: -45deg;
  --scroll-thumb-bg: rgb(141, 188, 220);
  --scroll-thumb-bg-secend: rgb(80, 145, 189);
}
