%text-cursor {
  cursor: var(--cursor-text);
}

%vditor-style {
  // 改变 vditor 的样式
  .vditor-style {
    padding: var(--primary-pd) !important;
    border: 1px solid var(--primary-scend-color);
    cursor: var(--cursor-default);
    min-height: 30px;
    p,
    a {
      @extend %text-cursor;
    }
    @for $i from 1 through 6 {
      h#{$i} {
        @extend %text-cursor;
      }
    }
    img {
      max-width: 500px;
      display: block;
      $m: 15px;
      margin-top: $m;
    }
    // 隐藏 描点后的 跳转
    a[id^="vditorAnchor"] {
      svg {
        display: none;
      }
    }
  }
}
