@use "sass:list";
// #region initial style
div {
  box-sizing: border-box;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
@font-face {
  font-family: "LOGO";
  font-weight: 900;
  src: url("/assets/font/logo.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "LXGWW";
  src: url("/assets/font/LXGWWenKai-Regular.ttf");
}
html {
  cursor: var(--cursor-default);
  font-family: $global-font;
  // 禁止勾选 ，只有文本能勾选
  user-select: none;
}
body {
  background-color: var(--body-bg);
}
a {
  cursor: var(--cursor-pointer);
}
.text {
  cursor: var(--cursor-text);
  user-select: text;
}
a {
  color: inherit;
  text-decoration: none;
}
i {
  display: inline-block;
}
// #endregion
// #region scrollbar
// background
::-webkit-scrollbar {
  width: 10px;
  border: 5px solid $scroll-bg;
}
// thumb
::-webkit-scrollbar-thumb {
  background: linear-gradient(
    list.nth($scroll-thumb-bg, 1),
    list.nth($scroll-thumb-bg, 3) 25%,
    list.nth($scroll-thumb-bg, 2) 25% 50%,
    list.nth($scroll-thumb-bg, 3) 50% 75%,
    list.nth($scroll-thumb-bg, 2) 75% 100%
  );
  border: $scroll-thumb-border;
  border-radius: $scroll-thumb-radius;
}
// track
::-webkit-scrollbar-track {
  background-color: $scroll-bg;
}
// Buttons
::-webkit-scrollbar-button:single-button {
  background-color: $scroll-bg;
  display: block;
  background-size: 8px;
  background-repeat: no-repeat;
}
// Up
::-webkit-scrollbar-button:single-button:vertical:decrement {
  background-position: center;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="48" height="48" viewBox="-2 -4 24 24"%3E%3Cpath ' + 'fill="' + $scroll-button-bg + '"' + ' d="m12.547 1.621l6.095 9.794A3 3 0 0 1 16.095 16H3.905a3 3 0 0 1-2.547-4.585L7.453 1.62a3 3 0 0 1 5.094 0z"%2F%3E%3C%2Fsvg%3E');
}

::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
  background-position: center;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="48" height="48" viewBox="-2 -4 24 24"%3E%3Cpath ' + 'fill="' + $scroll-button-bg-hover + '"' + ' d="m12.547 1.621l6.095 9.794A3 3 0 0 1 16.095 16H3.905a3 3 0 0 1-2.547-4.585L7.453 1.62a3 3 0 0 1 5.094 0z"%2F%3E%3C%2Fsvg%3E');
}
// Down
::-webkit-scrollbar-button:single-button:vertical:increment {
  background-position: center;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="48" height="48" viewBox="-2 -4 24 24"%3E%3Cg transform="rotate(180 10 8)"%3E%3Cpath ' + 'fill="' + $scroll-button-bg + '"' + ' d="m12.547 1.621l6.095 9.794A3 3 0 0 1 16.095 16H3.905a3 3 0 0 1-2.547-4.585L7.453 1.62a3 3 0 0 1 5.094 0z"%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
}

::-webkit-scrollbar-button:vertical:single-button:increment:hover {
  background-position: center;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="48" height="48" viewBox="-2 -4 24 24"%3E%3Cg transform="rotate(180 10 8)"%3E%3Cpath ' + 'fill="' + $scroll-button-bg-hover + '"' + ' d="m12.547 1.621l6.095 9.794A3 3 0 0 1 16.095 16H3.905a3 3 0 0 1-2.547-4.585L7.453 1.62a3 3 0 0 1 5.094 0z"%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
}
// #endregion

// 自适应初始化
html {
  font-size: 16px;
}
// 自适应1300px
@media screen and (max-width: $scr-md) {
  html {
    font-size: 14px;
  }
}
// 992px
@media screen and (max-width: $scr-sm) {
  html {
    font-size: 13.2px;
  }
  // header
  :root {
    --header-pd: 20px;
  }
}
// 768px
@media screen and (max-width: $scr-xs) {
  // header
  :root {
    --header-pd: 20px;
  }
}
