:root {
  // 内容区域背景颜色 没有背景固定时
  --body-bg: #f7fcff;
  // 鼠标样式
  --cursor-default: url("static/cursor/light/pointer.png") 0 0, default;
  --cursor-pointer: url("static/cursor/light/link.png") 0 0, pointer;
  --cursor-text: url("static/cursor/light/text.png") 18 5, text;
  // 主要字体颜色 content 区域的字体
  --primary-color: #2a4f7c;
  --primary-bg: white;
  --primary-during: 0.3s;
  // header 和 mini-header-drawer
  --second-color: #203b5b;
  // 头部没有吸附的颜色
  --header-bg: transparent;
  --header-color: white;
  // 头部导航 底部线条
  --header-topnav-mask-color: #8dbcdc;
  // 头部吸附后的颜色
  --header-sticky-bg: rgba(246, 251, 255, 0.9);
  --header-sticky-color: var(--second-color);
  // 头部导航的菜单颜色
  --header-menu-bg: white;
  --header-menu-bg-hover: var(--header-topnav-mask-color);
  --header-menu-color: var(--second-color);
  --header-menu-color-hover: #ecf5ff;
  --header-menu-drop-shadow: 0 0 3px rgb(210, 210, 210);
  // 头部导航设置
  --header-setting-bg: white;
  --header-setting-label-color: var(--second-color);
  --header-setting-switch-on: #5091bd;
  --header-setting-switch-off: #8dbcdc;
  // 头部小屏drawer导航的菜单颜色
  --header-mini-title-bg: transparent;
  --header-mini-title-bg-hover: #57aae1;
  --header-mini-title-color: var(--second-color);
  --header-mini-title-color-hover: #e9f6ff;
  --header-mini-subtitle-bg: transparent;
  --header-mini-subtitle-bg-hover: #88c4eb;
  --header-mini-subtitle-color: var(--second-color);
  --header-mini-subtitle-color-hover: #e9f6ff;
  // 头部小屏drawer
  --header-drawer-bg: white;
  --header-drawer-mask: #0000005a;
  --header-drawer-title-color: var(--second-color);
  // banner
  --banner-detail-color: #ffffff;
  --banner-img: url("/static/images/base-bg-light.png");
  // banner 遮罩
  --banner-mask: linear-gradient(
    to right,
    rgba(137, 137, 137, 0.5),
    rgba(137, 137, 137, 0.3)
  );
  // pages 相关
  --pages-links-hover: rgb(197, 132, 57);
  --pages-card-bg: var(--primary-bg);
  --pages-shadow: -5px 5px 10px rgba(180, 203, 225, 0.5);
  --pages-shadow-fixed: 0px 5px 10px rgba(204, 152, 164, 0.8);
  // 内容卡片
  --content-card-pin-bg: #619ec7;
  --content-card-pin-color: #ecf8ff;
  --content-card-flex-during: 0.5s;
  // 内容图片遮罩
  --content-mask: linear-gradient(
    to right,
    rgba(137, 137, 137, 0.5),
    rgba(137, 137, 137, 0.3)
  );
  // 内容区域轮播图的颜色
  --content-carousel-arrow-color: #7699c3;
  --content-carousel-arrow-color-hover: #5884b9;
  --content-carousel-arrow-bg: #d9eaf6;
  --content-carousel-arrow-bg-hover: #b1d7f0;

  // --content-carousel-btns-color: #2a4f7c;
  // --content-carousel-btns-color-hover: #2a4f7c;
  --content-carousel-btns-bg: #e2eaef;
  --content-carousel-btns-bg-hover: #b0d4e9;
  --content-carousel-btns-bg-active: #8dbcdc;
  --content-carousel-btns-bg-active-hover: #66a5cf;
  // 按钮primary
  --primary-btn-bg: #8dbcdc;
  --primary-btn-color: #eef8ff;
  --primary-btn-hover-bg: #6ca4ca;
  --primary-btn-hover-color: #e9f6ff;
  // input
  --input-color: var(--primary-color);
  --input-placeholder-color: #eee;
  --input-focus-border-color: #66a5cf;
  --input-hover-border-color: #66a5cf;
  --input-bg: #8dbcdc;
  // 侧边栏 用户信息链接颜色
  --aside-userinfo-wechat-color: #00c800;
  --aside-userinfo-qq-color: #329cff;
  --aside-userinfo-bilibili-color: #20b0e3;
  --aside-userinfo-mail-color: #000000;
  // 侧边栏公告
  --aside-web-announce-icon-bg: #5091bd;
  // 侧边栏
  --aside-web-info-icon-bg: #5091bd;
  --aside-recent-pg-icon-bg: #5091bd;
  // login
  --login-card-bg: rgb(255, 255, 255);
  --login-during: var(--primary-during);
  // login-input
  --login-input-color: var(--primary-color);
  --login-input-placeholder-color: #eee;
  --login-input-focus-border-color: #66a5cf;
  --login-input-hover-border-color: #66a5cf;
  --login-input-bg: #8dbcdc;
  // login-btn
  --login-btn-bg: #8dbcdc;
  --login-btn-color: #eef8ff;
  --login-btn-hover-bg: #6ca4ca8a;
  --login-btn-hover-color: #e9f6ff;
  // 底部提示信息的 切换链接颜色
  --login-link-color: #cb2d47;
  // 滚动条背景
  --scroll-bg: #f3f3ff;
}
