@use "./mixins.scss" as *;
// #region initial style
div {
  box-sizing: border-box;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
@font-face {
  font-family: "LOGO";
  font-weight: 900;
  src: url("/assets/font/logo.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "LXGWW";
  src: url("/assets/font/LXGWWenKai-Regular.ttf");
}
html {
  font-family: $global-font;
  // 禁止勾选 ，只有文本能勾选
  user-select: none;
  cursor: var(--cursor-default);
}
body {
  background-color: var(--body-bg);
}
a,
button {
  cursor: var(--cursor-pointer) !important;
}
// 页面中的跳转链接的悬浮函数
.route-link {
  @include pages-links-hover;
}
.cur-text {
  cursor: var(--cursor-text);
  user-select: text;
}
.cur-pointer {
  cursor: var(--cursor-pointer);
}
.cur-move {
  cursor: var(--cursor-move);
}
a {
  color: inherit;
  text-decoration: none;
}
i {
  display: inline-block;
}
// #endregion
// #region scrollbar
// background
::-webkit-scrollbar {
  // 横向
  width: var(--scroll-vert-size);
  // 纵向
  height: var(--scroll-hor-size);
  border: 5px solid var(--scroll-bg);
}
// thumb
::-webkit-scrollbar-thumb {
  background: linear-gradient(
    var(--scroll-thumb-deg),
    var(--scroll-thumb-bg-secend) 25%,
    var(--scroll-thumb-bg) 25% 50%,
    var(--scroll-thumb-bg-secend) 50% 75%,
    var(--scroll-thumb-bg) 75% 100%
  );
  border: $scroll-thumb-border-width solid var(--scroll-bg);
  border-radius: $scroll-thumb-radius;
  cursor: var(--cursor-default);
}

// track
::-webkit-scrollbar-track {
  background-color: var(--scroll-bg);
  cursor: var(--cursor-default);
}
// Buttons
::-webkit-scrollbar-button:single-button {
  background-color: var(--scroll-bg);
  display: block;
  background-size: 8px;
  background-repeat: no-repeat;
  cursor: var(--cursor-default);
}

//  图标 是 Fluent Ul System Icons MIT 的 triangle 12-filled
// Up
::-webkit-scrollbar-button:single-button:decrement {
  background-position: center;
  @include useTheme {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12'%3E%3Cpath fill='" + getvar(
        scroll-button-bg
      ) + "' d='M6.786 1.459a.903.903 0 0 0-1.572 0L1.122 8.628C.774 9.238 1.211 10 1.91 10h8.182c.698 0 1.135-.762.787-1.372z'/%3E%3C/svg%3E");
  }
}

::-webkit-scrollbar-button:single-button:decrement:hover {
  background-position: center;
  @include useTheme {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12'%3E%3Cpath fill='" + getvar(
        scroll-button-bg-hover
      ) + "' d='M6.786 1.459a.903.903 0 0 0-1.572 0L1.122 8.628C.774 9.238 1.211 10 1.91 10h8.182c.698 0 1.135-.762.787-1.372z'/%3E%3C/svg%3E");
  }
}

// Down
::-webkit-scrollbar-button:single-button:increment {
  background-position: center;
  @include useTheme {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12'%3E%3Cpath fill='" + getvar(
        scroll-button-bg
      ) + "' d='M5.214 10.541a.903.903 0 0 0 1.572 0l4.092-7.169C11.226 2.762 10.789 2 10.09 2H1.91c-.698 0-1.135.762-.787 1.372z'/%3E%3C/svg%3E");
  }
}

::-webkit-scrollbar-button:single-button:increment:hover {
  background-position: center;
  @include useTheme {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12'%3E%3Cpath fill='" + getvar(
        scroll-button-bg-hover
      ) + "' d='M5.214 10.541a.903.903 0 0 0 1.572 0l4.092-7.169C11.226 2.762 10.789 2 10.09 2H1.91c-.698 0-1.135.762-.787 1.372z'/%3E%3C/svg%3E");
  }
}

// #region 修改纵向的滚动图标
// Up
::-webkit-scrollbar-button:single-button:horizontal:decrement {
  background-position: center;
  @include useTheme {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12'%3E%3Cpath fill='" + getvar(
        scroll-button-bg
      ) + "' d='M1.459 5.214a.903.903 0 0 0 0 1.572l7.169 4.092c.61.348 1.372-.089 1.372-.787V1.91c0-.698-.762-1.135-1.372-.787z'/%3E%3C/svg%3E");
  }
}

::-webkit-scrollbar-button:single-button:horizontal:decrement:hover {
  background-position: center;
  @include useTheme {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12'%3E%3Cpath fill='" + getvar(
        scroll-button-bg-hover
      ) + "' d='M1.459 5.214a.903.903 0 0 0 0 1.572l7.169 4.092c.61.348 1.372-.089 1.372-.787V1.91c0-.698-.762-1.135-1.372-.787z'/%3E%3C/svg%3E");
  }
}
// Down
::-webkit-scrollbar-button:single-button:horizontal:increment {
  background-position: center;
  @include useTheme {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12'%3E%3Cpath fill='" + getvar(
        scroll-button-bg
      ) + "' d='M10.541 6.786a.903.903 0 0 0 0-1.572L3.372 1.122C2.762.774 2 1.211 2 1.91v8.182c0 .698.762 1.135 1.372.787z'/%3E%3C/svg%3E");
  }
}

::-webkit-scrollbar-button:single-button:horizontal:increment:hover {
  background-position: center;
  @include useTheme {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12'%3E%3Cpath fill='" + getvar(
        scroll-button-bg-hover
      ) + "' d='M10.541 6.786a.903.903 0 0 0 0-1.572L3.372 1.122C2.762.774 2 1.211 2 1.91v8.182c0 .698.762 1.135 1.372.787z'/%3E%3C/svg%3E");
  }
}
// #endregion 修改纵向的滚动图标

// #endregion

// 自适应初始化
html {
  font-size: 16px;
}
@include media(md) {
  html {
    font-size: 14px;
  }
}
@include media(sm) {
  html {
    font-size: 13.2px;
  }
  // header
  :root {
    --header-pd: 20px;
  }
}
@include media(xs) {
  // header
  :root {
    --header-pd: 20px;
  }
}
