@use "sass:list";
// #region initial style
div {
  box-sizing: border-box;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
@font-face {
  font-family: "LOGO";
  font-weight: 900;
  src: url("/assets/font/logo.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "LXGWW";
  src: url("/assets/font/LXGWWenKai-Regular.ttf");
}
html {
  font-family: $global-font;
  // 禁止勾选 ，只有文本能勾选
  user-select: none;
}
#app {
  @include useTheme {
    cursor: getvar(cursor-default);
  }
}
body {
  @include useTheme {
    background-color: getvar(primary-bg);
  }
}
a {
  @include useTheme {
    cursor: getvar(cursor-pointer);
  }
}
.text {
  @include useTheme {
    cursor: getvar(cursor-text);
  }
  user-select: text;
}
a {
  color: inherit;
  text-decoration: none;
}
i {
  display: inline-block;
}
// #endregion
// #region scrollbar
// background
::-webkit-scrollbar {
  width: 10px;
  @include useTheme {
    border: 5px solid getvar(scroll-bg);
  }
}
// thumb
::-webkit-scrollbar-thumb {
  @include useTheme {
    background: linear-gradient(
      list.nth(getvar(scroll-thumb-bg), 1),
      list.nth(getvar(scroll-thumb-bg), 3) 25%,
      list.nth(getvar(scroll-thumb-bg), 2) 25% 50%,
      list.nth(getvar(scroll-thumb-bg), 3) 50% 75%,
      list.nth(getvar(scroll-thumb-bg), 2) 75% 100%
    );
    border: $scroll-thumb-border-width solid getvar(scroll-bg);
  }
  border-radius: $scroll-thumb-radius;
}
// track
::-webkit-scrollbar-track {
  @include useTheme {
    background-color: getvar(scroll-bg);
  }
}
// Buttons
::-webkit-scrollbar-button:single-button {
  @include useTheme {
    background-color: getvar(scroll-bg);
  }
  display: block;
  background-size: 8px;
  background-repeat: no-repeat;
}
// Up
::-webkit-scrollbar-button:single-button:vertical:decrement {
  background-position: center;
  @include useTheme {
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="48" height="48" viewBox="-2 -4 24 24"%3E%3Cpath ' + 'fill="' + getvar(
        scroll-button-bg
      ) + '"' + ' d="m12.547 1.621l6.095 9.794A3 3 0 0 1 16.095 16H3.905a3 3 0 0 1-2.547-4.585L7.453 1.62a3 3 0 0 1 5.094 0z"%2F%3E%3C%2Fsvg%3E');
  }
}

::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
  background-position: center;
  @include useTheme {
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="48" height="48" viewBox="-2 -4 24 24"%3E%3Cpath ' + 'fill="' + getvar(
        scroll-button-bg-hover
      ) + '"' + ' d="m12.547 1.621l6.095 9.794A3 3 0 0 1 16.095 16H3.905a3 3 0 0 1-2.547-4.585L7.453 1.62a3 3 0 0 1 5.094 0z"%2F%3E%3C%2Fsvg%3E');
  }
}
// Down
::-webkit-scrollbar-button:single-button:vertical:increment {
  background-position: center;
  @include useTheme {
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="48" height="48" viewBox="-2 -4 24 24"%3E%3Cg transform="rotate(180 10 8)"%3E%3Cpath ' + 'fill="' + getvar(
        scroll-button-bg
      ) + '"' + ' d="m12.547 1.621l6.095 9.794A3 3 0 0 1 16.095 16H3.905a3 3 0 0 1-2.547-4.585L7.453 1.62a3 3 0 0 1 5.094 0z"%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
  }
}

::-webkit-scrollbar-button:vertical:single-button:increment:hover {
  background-position: center;
  @include useTheme {
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="48" height="48" viewBox="-2 -4 24 24"%3E%3Cg transform="rotate(180 10 8)"%3E%3Cpath ' + 'fill="' + getvar(
        scroll-button-bg-hover
      ) + '"' + ' d="m12.547 1.621l6.095 9.794A3 3 0 0 1 16.095 16H3.905a3 3 0 0 1-2.547-4.585L7.453 1.62a3 3 0 0 1 5.094 0z"%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
  }
}

// #endregion

// 自适应初始化
html {
  font-size: 16px;
}
@include media(md) {
  html {
    font-size: 14px;
  }
}
@include media(sm) {
  html {
    font-size: 13.2px;
  }
  // header
  :root {
    --header-pd: 20px;
  }
}
@include media(xs) {
  // header
  :root {
    --header-pd: 20px;
  }
}
