@use "./mixins.scss" as *;
// #region initial style
div {
  box-sizing: border-box;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
@font-face {
  font-family: "LOGO";
  font-weight: 900;
  src: url("/assets/font/logo.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "LXGWW";
  src: url("/assets/font/LXGWWenKai-Regular.ttf");
}
html {
  font-family: $global-font;
  // 禁止勾选 ，只有文本能勾选
  user-select: none;
  cursor: var(--cursor-default);
}
body {
  background-color: var(--body-bg);
}
a {
  cursor: var(--cursor-pointer);
}
// 页面中的跳转链接的悬浮函数
.route-link {
  @include pages-links-hover;
}
.cur-text {
  cursor: var(--cursor-text);
  user-select: text;
}
.cur-pointer {
  cursor: var(--cursor-pointer);
}
.cur-move {
  cursor: var(--cursor-move);
}
a {
  color: inherit;
  text-decoration: none;
}
i {
  display: inline-block;
}
// #endregion
// #region scrollbar
// background
::-webkit-scrollbar {
  width: 10px;
  border: 5px solid var(--scroll-bg);
}
// thumb
::-webkit-scrollbar-thumb {
  background: linear-gradient(
    var(--scroll-thumb-deg),
    var(--scroll-thumb-bg-secend) 25%,
    var(--scroll-thumb-bg) 25% 50%,
    var(--scroll-thumb-bg-secend) 50% 75%,
    var(--scroll-thumb-bg) 75% 100%
  );
  border: $scroll-thumb-border-width solid var(--scroll-bg);
  border-radius: $scroll-thumb-radius;
}
// track
::-webkit-scrollbar-track {
  background-color: var(--scroll-bg);
}
// Buttons
::-webkit-scrollbar-button:single-button {
  background-color: var(--scroll-bg);
  display: block;
  background-size: 8px;
  background-repeat: no-repeat;
}
// Up
::-webkit-scrollbar-button:single-button:vertical:decrement {
  background-position: center;
  @include useTheme {
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="48" height="48" viewBox="-2 -4 24 24"%3E%3Cpath fill="' + getvar(
        scroll-button-bg
      ) + '" d="m12.547 1.621l6.095 9.794A3 3 0 0 1 16.095 16H3.905a3 3 0 0 1-2.547-4.585L7.453 1.62a3 3 0 0 1 5.094 0z"%2F%3E%3C%2Fsvg%3E');
  }
}

::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
  background-position: center;
  @include useTheme {
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="48" height="48" viewBox="-2 -4 24 24"%3E%3Cpath fill="' + getvar(
        scroll-button-bg-hover
      ) + '" d="m12.547 1.621l6.095 9.794A3 3 0 0 1 16.095 16H3.905a3 3 0 0 1-2.547-4.585L7.453 1.62a3 3 0 0 1 5.094 0z"%2F%3E%3C%2Fsvg%3E');
  }
}
// Down
::-webkit-scrollbar-button:single-button:vertical:increment {
  background-position: center;
  @include useTheme {
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="48" height="48" viewBox="-2 -4 24 24"%3E%3Cg transform="rotate(180 10 8)"%3E%3Cpath fill="' + getvar(
        scroll-button-bg
      ) + '" d="m12.547 1.621l6.095 9.794A3 3 0 0 1 16.095 16H3.905a3 3 0 0 1-2.547-4.585L7.453 1.62a3 3 0 0 1 5.094 0z"%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
  }
}

::-webkit-scrollbar-button:vertical:single-button:increment:hover {
  background-position: center;
  @include useTheme {
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="48" height="48" viewBox="-2 -4 24 24"%3E%3Cg transform="rotate(180 10 8)"%3E%3Cpath fill="' + getvar(
        scroll-button-bg-hover
      ) + '" d="m12.547 1.621l6.095 9.794A3 3 0 0 1 16.095 16H3.905a3 3 0 0 1-2.547-4.585L7.453 1.62a3 3 0 0 1 5.094 0z"%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
  }
}

// #endregion

// 自适应初始化
html {
  font-size: 16px;
}
@include media(md) {
  html {
    font-size: 14px;
  }
}
@include media(sm) {
  html {
    font-size: 13.2px;
  }
  // header
  :root {
    --header-pd: 20px;
  }
}
@include media(xs) {
  // header
  :root {
    --header-pd: 20px;
  }
}
