// 引入暗夜变量
@use "./dark.scss" as *;
@use "./light.scss" as *;
$them: (
  light: $light,
  dark: $dark,
);
// 项目的全局scss变量
// 屏幕尺寸 参照 element-plus的layout
$scr: (
  mi: 610px,
  xs: 768px,
  sm: 992px,
  md: 1300px,
  lg: 1920px,
);
// #region layout
$global-font: "LXGWW", "微软雅黑", sans-serif;
:root {
  // 头部
  --header-height: 40px;
  --header-bg-initial-during: 0.3s;
  // 头部导航
  --header-topnav-margin: 20px;
  // 头部导航 底部线条
  --header-topnav-mask-height: 2px;
  // 左右边距
  --header-pd: 50px;
  // pages 相关
  --pages-card-radius: 10px;
  // 内容区域的间距
  --content-gap: 15px;
  // 内容卡片宽度
  --content-width: calc(100% - var(--content-gap) * 2);
  // 左侧边栏title（有图标）的间距
  --aside-title-gap: 5px;
  // 过渡
  // 底部内容区域大部分的过渡
  --primary-during: 0.3s;
  // 内容区域的媒体查询 flex个数的过渡动画
  --content-card-flex-during: 0.5s;
  // 登录界面的旋转过渡
  --login-rotate-during: 0.7s;
}
// 内容区和侧边栏最新文章的海报 缩放动画
$pages-poster-scale: 1.1;
// 剪彩动画 的剪刀 大小
$scissors-size: 30px;
// #endregion layout

// #region scrollbar
$scroll-thumb-radius: 20px;
$scroll-thumb-border-width: 2px;
// #endregion
