// 引入 全局 变量
@use "../global/index.scss" as *;

html[themes="#{$theme}"] {
  .global-banner {
    // banner
    --banner-detail-color: #cfd3dc;
    --banner-img: url("https://gcore.jsdelivr.net/gh/lyidle/static@1.0/assets/images/base-bg-dark.png");
    // banner 遮罩
    --banner-mask: linear-gradient(
      to right,
      rgba(52, 52, 52, 0.852),
      rgba(52, 52, 52, 0.232)
    );
    // 欢迎词的文字阴影
    --banner-wel-text-shadow: #164565;
  }
}
