// 右侧 的 头部
$manager-header-height: 50px;

.manager-container {
  // 侧边栏 的展开和收起宽度
  --manager-aside-expand-width: 250px;
  --manager-aside-fold-width: 60px;
  // 侧边栏 应用 的宽度
  --manager-aside-width: var(--manager-aside-expand-width);
  // 侧边栏的 每一项 高度
  --aside-item-height: 50px;
  --primary-during: 0.3s;

  // 头部导航 底部线条
  --header-topnav-mask-height: 2px;
  // 悬浮菜单的左边距
  --header-topmenu-margin-left: 20px;
  // 悬浮菜单的icon左边距
  --header-topmenu-h: 25px;
  --header-topmenu-icon-mr: 5px;
  --header-topmenu-icon-pl: 15px;
  // 悬浮菜单的圆角
  --menu-radius: 5px;

  // 内容 pd
  --admin-content-pd: 30px;
  --admin-content-card-gap: 15px;
  --admin-content-item-gap: 15px;
  --admin-content-card-pd: 1.25rem;
  --admin-content-header-gap: 15px;
}
