// 层级管理
// header
$manager-header-index: 2;
// 底部
$manager-content-index: 1;
// 侧边栏
$manager-aside-index: 1;
// 右侧
$manager-context-index: 2;
// 右侧 header
$manager-tools-index: 2;
// 右侧 内容
$manager-review-index: 1;
