// 引入 函数
@use "sass:color";

// 引入 全局 变量
@use "../global/index.scss" as *;

html[themes="#{$theme}"] {
  // 头部区域的颜色
  --header-color: #c6d6ed;
  --header-primary-bg: #3d5b6e;
  // 头部没有吸附的颜色
  --header-bg-initial: transparent;
  --header-color-initial: white;
  // 头部导航 底部线条
  --header-topnav-mask-color: #95adca;
  // 头部吸附后的颜色 是单独的 单独的颜色+透明度更舒服些
  --header-bg-sticky: #4b5f6cf3;
  --header-color-sticky: var(--header-color);
  // 头部导航的菜单颜色
  --header-menu-bg: var(--header-primary-bg);
  --header-menu-bg-hover: #5c8096;
  --header-menu-color: var(--header-color);
  --header-menu-color-hover: #ffffff;
  --header-menu-drop-shadow: 0 0 3px rgb(42, 42, 42);
  // 头部导航设置
  --header-setting-bg: var(--header-primary-bg);
  --header-setting-label-color: var(var(--primary-color));
  // 头部小屏drawer导航的菜单颜色
  $header-mini-bg-hover: #396396;
  $header-mini-color-hover: #e9f6ff;
  --header-mini-title-bg: transparent;
  --header-mini-title-bg-hover: #{$header-mini-bg-hover};
  --header-mini-title-color: var(--header-color);
  --header-mini-title-color-hover: #{$header-mini-color-hover};
  --header-mini-subtitle-bg: transparent;
  --header-mini-subtitle-bg-hover: #{color.adjust(
      $header-mini-bg-hover,
      $lightness: 8%
    )};
  --header-mini-subtitle-color: var(--header-color);
  --header-mini-subtitle-color-hover: #{$header-mini-color-hover};
  // 头部小屏drawer
  --header-drawer-bg: var(--header-primary-bg);
  --header-drawer-mask: #0000005a;
  --header-drawer-title-color: var(--header-color);
}
