// 引入 全局 变量
@use "./global/index.scss" as *;

// 内容 区域 共同的 变量
$pages-card-bg: white;

html[themes="#{$theme}"] {
  .manager-container {
    --primary-color: #{$primary-color};
    --manager-card-bg: #{$pages-card-bg};
    --manager-card-shadow: -5px 5px 10px rgba(180, 203, 225, 0.5);
    --manager-card-shadow-fixed: 0px 5px 10px rgba(204, 152, 164, 0.8);
    --header-bg: white;
    --header-color: #{$primary-color};
  }
}
