// 引入 函数
@use "sass:color";

// 引入 全局 变量
@use "../global/index.scss" as *;

html[themes="#{$theme}"] {
  .theme-panel {
    // 右键 菜单 的全局面板 样式
    $theme-setting-bg: #fbfeff;
    $theme-setting-title-bg: #88b7d7;
    $theme-setting-aside-bg: #e7f7ff;
    $theme-setting-aside-hover-active-color: #f4fbff;
    $theme-setting-aside-hover-active-bg: #99c1dc;
    --theme-setting-mask: #0000005a;
    --theme-setting-bg: #{$theme-setting-bg};
    --theme-setting-title-bg: #{$theme-setting-title-bg};
    --theme-setting-title-color: #e0eeff;
    --theme-setting-close-color: #{$primary-color};
    --theme-setting-close-color-hover: #{color.adjust(
        $primary-color,
        $lightness: 20%
      )};
    --theme-setting-side-hr: #d9e9f5 1px solid;
    --theme-setting-side-bg: #{$theme-setting-aside-bg};
    --theme-setting-side-bg-item: #{color.adjust(
        $theme-setting-aside-bg,
        $lightness: 8%
      )};
    --theme-setting-side-bg-active: #{$theme-setting-aside-hover-active-bg};
    --theme-setting-side-bg-item-hover: #{color.adjust(
        $theme-setting-aside-hover-active-bg,
        $lightness: 5%
      )};
    --theme-setting-aside-color: #{$primary-color};
    --theme-setting-side-color-active: #{$theme-setting-aside-hover-active-color};
    --theme-setting-side-color-hover: #{$theme-setting-aside-hover-active-color};
  }
}
