// 引入 全局 变量
@use "../global/index.scss" as *;

html[themes="#{$theme}"] {
  .global-banner {
    // banner
    --banner-detail-color: #ffffff;
    --banner-img: url("https://blog-api.lyidle.cn/images/public/base-bg-light.png");
    // banner 遮罩
    --banner-mask: linear-gradient(
      to right,
      rgba(137, 137, 137, 0.5),
      rgba(137, 137, 137, 0.3)
    );
    // 欢迎词的文字阴影
    --banner-wel-text-shadow: #4783ac;
  }
}
