// 引入函数
@use "sass:color";

// 引入 全局 变量
@use "../global/index.scss" as *;

html[themes="#{$theme}"] {
  // 头部区域的颜色
  $header-color: #203b5b;
  $header-primary-bg: white;
  .mini-header-drawer {
    // 头部区域的颜色
    --scissors-color: #4b74a4;
    // 头部小屏drawer
    --header-drawer-title-color: #{$header-color};
    // 头部小屏drawer导航的菜单颜色
    $accordion-bg-hover: #57aae1;
    $accordion-color-hover: #e9f6ff;
    --accordion-title-bg: transparent;
    --accordion-title-bg-hover: #{$accordion-bg-hover};
    --accordion-title-color: var(--header-color);
    --accordion-title-color-hover: #{$accordion-color-hover};
    --accordion-subtitle-bg: transparent;
    --accordion-subtitle-bg-hover: #{color.adjust(
        $accordion-bg-hover,
        $lightness: 10%
      )};
    --accordion-subtitle-color: var(--header-color);
    --accordion-subtitle-color-hover: #{$accordion-color-hover};
  }
  .global-header {
    // 头部区域的颜色
    --header-color: #{$header-color};
    --header-primary-bg: #{$header-primary-bg};
    // 头部没有吸附的颜色
    --header-bg-initial: transparent;
    --header-color-initial: white;
    // 头部导航 底部线条
    --header-topnav-mask-color: #8dbcdc;
    // 头部吸附后的颜色 是单独的 单独的颜色+透明度更舒服些
    --header-bg-sticky: rgba(246, 251, 255, 0.9);
    --header-color-sticky: var(--header-color);
    // 头部导航的菜单相关颜色
    --menu-bg: var(--header-primary-bg);
    --menu-bg-hover: #8dbcdc;
    --menu-color: var(--header-color);
    --menu-color-hover: #ecf5ff;
    // 头部导航设置
    --popover-bg: var(--header-primary-bg);
    --popover-color: var(--primary-color);
    --header-setting-label-color: var(--header-color);
  }
}
