// 引入 函数
@use "sass:color";

// 引入 全局 变量
@use "../global/index.scss" as *;

html[themes="#{$theme}"] {
  .global-content {
    // 内容卡片
    --content-card-pin-bg: #36759f;
    --content-card-pin-color: #dbf1ff;
    // 内容图片遮罩
    --content-mask: linear-gradient(
      to right,
      rgba(52, 52, 52, 0.5),
      rgba(52, 52, 52, 0.5)
    );
    // 内容区域轮播图的颜色
    $content-carousel-arrow-color: #d6e8ff;
    $content-carousel-arrow-bg: #93b9d4;
    $content-carousel-btns-color: #2a4f7c;
    $content-carousel-btns-bg: #98bcd3;
    $content-carousel-btns-bg-active: #5f93b6;
    --content-carousel-arrow-color: #{$content-carousel-arrow-color};
    --content-carousel-arrow-color-hover: #{color.adjust(
        $content-carousel-arrow-color,
        $lightness: 3%
      )};
    --content-carousel-arrow-bg: #{$content-carousel-arrow-bg};
    --content-carousel-arrow-bg-hover: #{color.adjust(
        $content-carousel-arrow-bg,
        $lightness: -10%
      )};
    --content-carousel-btns-color: #{$content-carousel-btns-color};
    --content-carousel-btns-color-hover: #{color.adjust(
        $content-carousel-btns-color,
        $lightness: -10%
      )};
    --content-carousel-btns-bg: #{$content-carousel-btns-bg};
    --content-carousel-btns-bg-hover: #{color.adjust(
        $content-carousel-btns-bg,
        $lightness: 10%
      )};
    // 激活状态
    --content-carousel-btns-bg-active: #{$content-carousel-btns-bg-active};
    --content-carousel-btns-bg-active-hover: #{color.adjust(
        $content-carousel-btns-bg-active,
        $lightness: 10%
      )};
  }
}
